<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="org.springframework.test.ioc.UserDao"/>

    <bean id="userService" class="org.springframework.test.ioc.UserService">
        <property name="uid" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>